	body{
		background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(/elements/bocchi-bocchi-the-rock.gif); 
	}
	
	#text{
		color: #FFFFFF;
        align-items: center;
        display: block;
        text-align: center;
	}
	
	.video-container
	{
		background: rgba(0,0,0,1);
		position: relative;
		z-index: -99;
		opacity: 0.35;
	}

	.container
	{
		padding-top: 25px;
		overflow: hidden;
	}
	
	.youtube
	{
		width: 112vh;
		height: 63vh;
	}
	
	@media only screen and (max-width: 512px) and (max-width: 717px)
	{
		.youtube
		{
			width: 36vh;
			height: 64vh;
		}
	}

	iframe
	{		
		display: flex;
		background-color: transparent;
		padding-top: auto;
		margin-left: auto;
    	margin-right: auto;
		clear: both;
		border-radius: 25px;
	}