	body{
		background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(/elements/bocchi-bocchi-the-rock.gif); 
	}
	
	#text{
		color: #FFFFFF;
        align-items: center;
        display: block;
        text-align: center;
	}
	
	.video-container
	{
		background: rgba(0,0,0,1);
		position: relative;
		z-index: -99;
		opacity: 0.35;
	}

	.container
	{
		padding: 25px;
		overflow: hidden;
	}
	
	.youtube
	{
		width: 112vh;
		height: 63vh;
	}
	
	iframe
	{		
		display: flex;
		background-color: transparent;
		padding-top: auto;
		padding-left: auto;	
		padding-right: auto;
		margin: auto;
		clear: both;
		border-radius: 25px;
	}