	body{
		background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(/elements/bocchi-bocchi-the-rock.gif); 
	}
	
	#text{
		color: #FFFFFF;
        align-items: center;
        display: block;
        text-align: center;
	}

	.container
	{
		padding-top: 25px;
		overflow: hidden;
	}
	
	.youtube
	{
		width: calc(16vh*7);
		height: calc(9vh*7);
	}
	
	@media only screen and (max-width: 512px) and (max-width: 717px)
	{
		.youtube
		{
			width: calc(9vh*4);
			height: calc(16vh*4);
		}
	}

	iframe
	{		
		display: flex;
		background-color: transparent;
		padding-top: auto;
		margin-left: auto;
    	margin-right: auto;
		clear: both;
		border-radius: 25px;
	}