.web_logo_header
{
	height: 50px;
	width: 50px;
}

button{
	background-color: transparent;
	border: none;
	outline: none;
	pointer-events: fill;
	transition-duration: 0.4s;
}

button:hover
{
	transform: scale(1.15) perspective(1px)
}

	.headerbar
	{
		position: relative;
		display: inline-flex;
		min-height: 100%;
		width: auto;
		height: auto;
		padding: auto;
		margin: 0px;
		clear: both;
		justify-content: space-evenly;
		border-radius: 15px;
		align-items: center;
	}

	.headerbar sussy
	{
		background-color: rgba(255,255,255,0.85);
		backdrop-filter: blur(5px);
		border: none;
		display: inline-block;
		text-align: center;
		text-decoration: none;
		color: black;
		font-size: 16px;
		padding: 10px 24px;
		border-radius: 25px;
		font-family: Poppins;
	}
	
		
	.headerbar sussybaka
	{
		background-color: transparent;
		border: none;
		display: inline-block;
		text-align: center;
		text-decoration: none;
		color: white;
		font-size: 16px;
		padding: 10px 24px;
		font-family: Poppins;
	}
			
	.hamburgermenu
	{
		display: none;
	}

	
	@media only screen and (max-width: 768px) and (max-width: 1024px)
	{
		.headerbar
		{
			display: none;
		}
		.hamburgermenu
		{
			display: inline-block;
		}
	}
	
	.burger-shower
	{
		visibility: hidden;
	}

	#hammenu
	{
		font-family: Poppins;
		padding: auto;
		margin: auto;
	}
	
	#hammenu #sidemenu
	{
		position: absolute;
		visibility: hidden;
		transition: 0.4s;
		top: -500px;
		right: 0; bottom: 0; left: 0;
		margin-left: auto;
		margin-right: auto;
		height: 22%;
		border-radius: 0px 0px 15px 15px;
		background-color: rgba(255,255,255,0.50);
		backdrop-filter: blur(25px);
		padding: 5px;
		box-sizing: border-box;
		z-index: 99;
		display: inline-flex;
		justify-content: space-evenly;
		flex-flow: row;
		align-items: center;
		padding: auto;	
	}

	#hammenu a:hover
	{
		transform: scale(1.15) perspective(1px);
	}

	#hamburger-input:checked + #hammenu #sidemenu
	{
		visibility: visible;
		top: 0;
	}
	
	#hamburger-input:check ~ .overlay
	{
		visibility: visible;
		opacity: 0.4;
	}