:root{
	--bg-width: 0%
}

.donatebotan{
	background-color: rgba(255,255,255,0.85) !important;
	color: black !important;
	backdrop-filter: blur(50px);
}

.donatebotan:hover{
	background-color: black !important;
	color: white !important;
}

#button_sp{
	background-color: transparent;
	border: none;
	outline: none;
	pointer-events: fill;
	transition-duration: 0.2s;
	color: white;
	width: 100px;
	border-radius: 50px;
	font-size: 100%;
	height: 2em;
	margin-left: 10px;
	margin-right: 10px;
	font-family: Poppins;
}

#button_sp:hover{
	background-color: white;
	color: black;
	transition: 0.25s linear;
}

section.home{
	display: flex;
	float: left;
	justify-content: space-evenly;
}

section.subpages{
	display: flex;
	float: right;
	justify-content: space-evenly;
}

#asuka_homebutton{
	height: 50px;
	width: 50px;
}

#asuka_homebutton:hover
{
	animation: rotation 1s ease;	 
}

#piss_chip{
	border-radius: 20px;
	display: inline-flex;
	align-items: center;
	margin-top: 12px;
	margin-left: 12px;
	height: 2em;
	width: 5em;
	overflow: hidden;
	position: absolute;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgba(150,150,150,0.75) !important;
	color: white !important;
	backdrop-filter: blur(50px);
}

#piss_chip::after{
	z-index: -1;
	content: " ";
	position: absolute;
	left: 0;
	width: var(--bg-width);
	transition: width 1s cubic-bezier(.4,0,.5,1);
	background-color: var(--bg-progress);
	height: 100%;
}

#titlebar
{	
	top: 20px;
	position: sticky;
	-webkit-user-select: none;
	user-select: none;
	display: inline-flex;
	min-height: 100%;
	justify-content: space-between;
	width: 90vw;
	border-radius: 15px;
	align-items: center;
	margin-left: 5%;
}
			
#mobilebar
{
	top: 0;
	transform: translateX(6%) translateY(43vh);
	position: fixed;
	-webkit-user-select: none;
	user-select: none;
	display: none;
	min-height: 100%;
	justify-content: space-between;
	width: 90%;
	border-radius: 15px;
	align-items: center;
	z-index: 99;
}

	
@media only screen and (max-width: 768px) and (max-width: 1024px)
{
	#titlebar
	{
		display: none;
	}
	#mobilebar
	{
		display: inline-flex;
	}
}


#subpages_mobile{
	display: inline-flex;
	border: 5px white;
	border-radius: 50px;
	align-items: center;
	justify-content: space-around;
	background: rgba(50,50,50,0.85);
	backdrop-filter: blur(50px);
	width: 100%;
	height: 50px;
	position: sticky;
	top: 0%;
}

button.sp_obj_button{
	background-color: transparent;
	border: none;
	outline: none;
	pointer-events: fill;
}


@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}