button{
	background-color: transparent;
	border: none;
	outline: none;
	pointer-events: fill;
}	
	
	.boxed{
		display: grid;
		height: auto;
		width: auto;
		background-color: rgba(0,0,0,0.65);
		padding: 20px;	
		margin: auto;
		backdrop-filter: blur(15px);
		clear: both;
		justify-content: space-evenly;
		grid-template-columns: repeat(auto-fill, minmax(100px, max-content));
		grid-template-rows: auto;
		grid-row-gap: 20px;
		border-radius: 15px;
	}
	
	h2{
		font-size: 18px;	
	}
	
	a {
		float: left;
		padding: auto;	
		margin: auto;
	} 

	
	.osulogo{
		height: 45px;
		width: 45px;
		padding: auto;
		margin: auto;		
		vertical-align: middle;
	}
	
	.scrollfix{
		clear: both;
	}
	
	#text{
		color: #FFFFFF;
		/*
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		*/
		min-height: 100%;
		width: 50%;
		height: auto;
		padding: auto;
		margin: auto;
	}
	
	#text2{
		color: #000000;
		/*
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		*/
		min-height: 100%;
		width: 100%;
		height: auto;
		padding: auto;
		margin: auto;
	}

	
