	@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
	body{
		overflow-x: hidden;
		font-family: Poppins;
		background-color: rgba(0,0,0,1);
		background-attachment: scroll;
		background-position: center top;
	}
	
	button{
		background-color: transparent;
		border: none;
		outline: none;
		overflow: hidden;
		pointer-events: fill;
	}
	
	.boxed{
		display: grid;
		height:auto;
		width: auto;
		background-color: rgba(0,0,0,0.65);
		padding: 20px;	
		margin: auto;
		justify-content: space-evenly;
		flex-direction: row;
		flex-wrap: wrap;
		grid-template-columns: repeat(auto-fill, minmax(100px, max-content));
		grid-template-rows: auto;
		grid-row-gap: 20px;
	}
	
	h1, h2, h4, p, a{
		color: white;
	}
	
	
	h2{
		font-size: 18px;
		
	}
	
	a {
		float: left;
		padding: auto;	
		margin: auto;
	} 

	.video-container{
		background: rgba(0,0,0,1);
		position: fixed;
		top: 0; 
		right: 0; 
		bottom: 0; 
		left: 0;
		z-index: -99;
		opacity: 0.35;
	}
	
	.info {
		color: white;
		background-color: rgba(0,0,0,0.75) ;
		margin: auto;
		padding: 15px;		
		display: none;
		clear:both;
		grid-column: span 16;
	}
	
	.discord:focus ~ .info
	{
		display: flex;
	}
	
	.osulogo{
		height: 45px;
		width: 45x;
		float: left;
		padding: auto;
		margin: auto;		
		vertical-align: middle;
	}
	
	.credit{
		display:inline;
	}

	.osulink{
		clear:both;
		float:right;
	}			
	
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width:100%;
		height:100%;
		pointer-events: none;
	}
	
	#text{
		position: absolute;
		color: #FFFFFF;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
		
	@nedia (min-aspect-ratio: 16/9) {
		.video-container iframe {
			height: 56.25vw;
		}
	
	@nedia (min-aspect-ratio: 16/9) {
		.video-container iframe {
			width: 177.78vw;
		}	