	@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
	body{
		display: flex;
		flex-direction: column;
		overflow-wrap: normal;
		overflow: auto;
		font-family: Poppins;
		background-color: rgba(0,0,0,1);
		background-attachment: scroll;
		background-position: center top;	
		justify-content: center;		
		align-items: center safe;
		min-height: 95vh; 
	}
	
	#particles-js 
	{
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	
	.headerbar
	{
		font-family: Poppins;
		display: grid;
		min-height: 100%;
		width: auto;
		height: auto;
		padding: auto;
		margin: 0px;
		clear: both;
		justify-content: space-evenly;
		grid-template-columns: repeat(auto-fill, minmax(100px, max-content));
		grid-template-rows: auto;
		grid-row-gap: 20px;
		border-radius: 15px;
		align-items: center;
	}
	
	.headerbar sussy
	{
		background-color: rgba(255,255,255,0.85);
		backdrop-filter: blur(5px);
		border: none;
		display: inline-block;
		text-align: center;
		text-decoration: none;
		color: black;
		font-size: 16px;
		padding: 10px 24px;
		border-radius: 25px;
	}
		
	.headerbar sussybaka
	{
		background-color: transparent;
		border: none;
		text-align: center;
		display: inline-block;
		text-decoration: none;
		color: white;
		font-size: 16px;
		padding: 10px 24px;
	}
	
	.web_logo_header
	{
		height: 50px;
		width: 50px;
	}
	
	button{
		background-color: transparent;
		border: none;
		outline: none;
		pointer-events: fill;
		transition-duration: 0.4s;
	}
	
	.boxed{
		display: grid;
		height: auto;
		width: auto;
		background-color: rgba(0,0,0,0.65);
		padding: 20px;	
		margin: auto;
		backdrop-filter: blur(15px);
		clear: both;
		justify-content: space-evenly;
		grid-template-columns: repeat(auto-fill, minmax(100px, max-content));
		grid-template-rows: auto;
		grid-row-gap: 20px;
		border-radius: 15px;
	}
	
	.boxed2{
		display: flex;
		position: relative;
		top: 180px;
		height: 100%;
		width: auto;
		background-color: rgba(255,255,255,0.75);
		padding: 30px;	
		margin: auto;
		backdrop-filter: blur(15px);
		border-radius: 15px;
		overflow-wrap: break-word;
		overflow: hidden;
		flex-wrap:wrap;
	}
	
	h2{
		font-size: 18px;	
	}
	
	a {
		float: left;
		padding: auto;	
		margin: auto;
	} 

	.video-container{
		background: rgba(0,0,0,1);
		position: fixed;
		top: 0; 
		right: 0; 
		bottom: 0; 
		left: 0;
		z-index: -99;
		opacity: 0.35;
	}
	
	.info {
		color: white;
		background-color: rgba(0,0,0,0.50);
		margin: 0 auto;
		padding: 15px;		
		display: none;
		clear: both;
		top: -220%;
		left: 50%;
		width: 50%;
		text-align: left;
		position: fixed;
		justify-content: center;
		align-items: center;
		transform: translate(-50%, 0%);
		border-radius: 15px;
		/*grid-column: span 16;*/
	}
	
	.discord:hover ~ .info
	{
		display: flex; 
	}
	
	#discord_widget
	{
		position: relative;
		width: 100%;
		height: 550px;
		padding: auto;
		pointer-events: auto;
	}

	
	.osulogo{
		height: 45px;
		width: 45px;
		padding: auto;
		margin: auto;		
		vertical-align: middle;
	}
	
	.scrollfix{
		clear: both;
	}
	
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width:100%;
		height:100%;
		pointer-events: none;
	}
	
	#text{
		color: #FFFFFF;
		/*
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		*/
		min-height: 100%;
		width: 50%;
		height: auto;
		padding: auto;
		margin: auto;
	}
	
	#text2{
		color: #000000;
		/*
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		*/
		min-height: 100%;
		width: 100%;
		height: auto;
		padding: auto;
		margin: auto;
	}
		
	button:hover
	{
		transform: scale(1.15) perspective(1px)
	}
	
	.hamburgermenu
	{
		display: none;
	}
	
	@media only screen and (max-width: 768px) and (max-width: 1024px)
	{
		.headerbar
		{
			display: none;
		}
		.hamburgermenu
		{
			display: inline-block;
		}
	}
	
	.burger-shower
	{
		visibility: hidden;
	}
	
	#hammenu
	{
		font-family: Poppins;
		padding: auto;
		margin: auto;
	}
	
	#hammenu #sidemenu
	{
		position: absolute;
		visibility: hidden;
		transition: 0.4s;
		left:-500px;
		height: 100%;
		width: 350px;
		background-color: rgba(255,255,255,0.75);
		backdrop-filter: blur(25px);
		padding: 5px;
		box-sizing: border-box;
		border-radius: 15px;
		z-index: 99;
	}
	
	#hammenu ul
	{
		display: inline-block;
		list-style: none;
		font-size: 50px;
		list-style-type: none;
		line-height: 2;
	}
	
	#hammenu li a
	{
		display: inline-block;
		text-align: left;
		text-decoration: none;
		text-color: white;
		color: black;
		transition-duration: 0.4s;
	}
	
	#hammenu a:hover
	{
		transform: scale(1.15) perspective(1px);
	}

	#hamburger-input:checked + #hammenu #sidemenu
	{
		visibility: visible;
		left: 0;
	}
	
	#hamburger-input:check ~ .overlay
	{
		visibility:visible;
		opacity: 0.4;
	}
	
	@nedia (min-aspect-ratio: 16/9) {
		.video-container iframe {
			height: 56.25vw;
	}
	
	@nedia (min-aspect-ratio: 16/9) {
		.video-container iframe {
			width: 177.78vw;
	}	
	
