#ningga{
display: flex;
margin: auto;
top: 50px;
justify-content: space-around;
align-items: center;
overflow: hidden;
white-space: nowrap;
width: fit-content;
width: -moz-fit-content;
max-width: 100vh;
}
