@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: black;
	font-family:Roboto;
}

.rotate {
	display: flex;
	animation: rotation 1s infinite linear;	 
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

h1 {
    color:white;
}

p {
    color: white;
}

a {
    color: lightskyblue;
	text-align: center;
}
.bgimage {
    opacity: 0.3;
    position: absolute;
    left: -320px;
    right: 0;
    top: 0;
    width: fit-content;
    height: fit-content;
    
}

.content {
    position: relative;
}
