@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
	font-family: Ubuntu;
	background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../elements/background.png); 
	background-attachment: local;
	background-position: center top;
} 

#links{
	overflow: hidden;
}

.grid-container{
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	flex-wrap: wrap;
}

.osulogo{
	display: inline-block;
	vertical-align: middle;
	height: 45px;
	width: 45px;	
	padding: 15px;
	margin: auto;
}

#spinning_asuka{
	height: 50%;

}

.rotate {
	display: flex;
	animation: rotation 1s infinite linear;	 
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

h1, p, a{
    color: white;
}

.content {
    position: relative;
	margin-top: 10vh;
	margin-left: 5px;
	margin-right: 5px;
}